/dashboard
/img
/meetest-angular
/webalizer
/xampp
/applications.html
/bitnami.css
/favicon.ico
/index.php
/MEETEST-codi.zip
/package-lock.json
/userManual.md
/technicaltest/.env.local
/technicaltest/.env.local.php
/technicaltest/.env.*.local
/technicaltest/public/bundles
/technicaltest/var/
/technicaltest/vendor/
/api-rest-symfony